language: python
python:
  - "2.7"
  - "3.4"

env:
  - SPHINX_SPEC=Sphinx~=1.2.0
  - SPHINX_SPEC=Sphinx~=1.3.0
  - SPHINX_SPEC=git+https://github.com/sphinx-doc/sphinx.git#egg=Sphinx-dev

install:
  - pip install coveralls --use-mirrors
  - pip install --allow-external Sphinx --allow-unverified Sphinx $SPHINX_SPEC
  - python setup.py install

before_script:
  - git config --global user.email "nathan+travis@yergler.net"
  - git config --global user.name "Travis Build"

script:
  - coverage run --source=tut setup.py test

after_success:
  - coveralls
